@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  /* CSS HEX */
  --dark-olive-green: #606c38ff;
  --kombu-green: #283618ff;
  --cornsilk: #fefae0ff;
  --fawn: #dda15eff;
  --liver-dogs: #bc6c25ff;
  
  
  --gradient-top: linear-gradient(0deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
  --gradient-right: linear-gradient(90deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
  --gradient-bottom: linear-gradient(180deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
  --gradient-left: linear-gradient(270deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
  --gradient-top-right: linear-gradient(45deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
  --gradient-bottom-right: linear-gradient(135deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
  --gradient-top-left: linear-gradient(225deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
  --gradient-bottom-left: linear-gradient(315deg, #606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
  --gradient-radial: radial-gradient(#606c38ff, #283618ff, #fefae0ff, #dda15eff, #bc6c25ff);
}

/* Main Body Stylings */
 .pageContent{
   background-color: var(--kombu-green);
   height: 100vh;
 }

/* Header and Navigation styling */
li {
  list-style-type: none;
}

.navBar{
margin-right: 10vw;
}

.navBtn {
  color: var(--dark-olive-green);
  text-shadow: 1px 1px 3px var(--cornsilk);
  font-size: 2vmax;
  padding: 0.5vw;
  margin: 1vw;
  text-decoration: none;
}

.navBtn:hover {
  color: var(--cornsilk);
  text-shadow: 2px 2px var(--kombu-green);
  cursor: pointer;
}

.navBtn:active {
  color: var(--fawn);
  text-shadow: -2px -2px var(--kombu-green);
}

.navBtnActivated{
  color: var(--cornsilk);
  text-shadow: 2px 2px 5px var(--kombu-green);
}
.header{
  background-image: var(--gradient-bottom-right);
  padding: 2em;
}

.myName{
  font-family: 'Ruthie', cursive;
  color: var(--fawn);
  font-size: 4vmax;
  margin-left: 5vw;
  margin-top: 2vh;
  text-shadow: 2px 1px var(--cornsilk);
}

.myName:hover{
  color: var(--liver-dogs);
}

/* About Me Stylings */
.aboutMe{
  color: var(--cornsilk);
}

.aboutMe img{
margin: 2vh;
width: 20%;
border-radius: 15px 50px;
border-style: inset;
border-color: var(--liver-dogs);
box-shadow: -2px -2px 3px var(--fawn);
}

.aboutMe p{
  border-style: outset;
  border-radius: 50px 15px;
  width: 75%;
  padding: 4vmin;
  border-color: var(--liver-dogs);
  box-shadow: 2px 2px var(--fawn);
}
/* Portfolio Stylings */

/* Resume Stylings */

/* Contact Section Stylings */

/* Footer Styling */
footer{
  background-image: var(--gradient-top-right);
  align-self: flex-end;
  width: 100vw;
  padding: 3vh 33vw;
}

footer a {
  color: var(--kombu-green);
  text-shadow: 1px 1px var(--cornsilk);
  font-size: 1.5vmax;
  text-decoration: none;
}

footer a:hover {
  color: var(--cornsilk);
  text-shadow: 1px 1px 2px var(--kombu-green);
  cursor: pointer;
}

footer a:active {
  color: var(--cornsilk);
  text-shadow: -1px -1px 3px var(--kombu-green);
}